:root {
  /* Set all variables in here for globals */
  --max-card-width: 768px;

  /* Set all the border variables here */
  --border-radius: 5px;
  --border-style: solid;
  --border-width: 1px;

  /* Set all the colour variables here */
  --bg-dark: hsl(26 53% 89%);
  --bg: hsl(26 100% 94%);
  --bg-light: hsl(26 100% 100%);
  --text: hsl(16 100% 4%);
  --text-red: hsl(8, 93%, 43%);
  --text-muted: hsl(26 35% 27%);
  --highlight: hsl(26 100% 99%);
  --border: hsl(26 21% 49%);
  --border-muted: hsl(26 27% 61%);
  --primary: hsl(27 65% 66%);
  --primary-hover: hsl(27 65% 76%);
  --secondary: hsl(204 74% 68%);
  --secondary-hover: hsl(204 74% 78%);
  --danger: hsl(9 26% 64%);
  --danger-hover: hsl(9 26% 74%);
  --warning: hsl(52 19% 57%);
  --warning-hover: hsl(52 19% 67%);
  --success: hsl(146 17% 59%);
  --success-hover: hsl(146 17% 69%);
  --info: hsl(217 28% 65%);
  --info-hover: hsl(217 28% 75%);
}

.dark {
  --bg-dark: hsl(16 100% 2%);
  --bg: hsl(22 76% 4%);
  --bg-light: hsl(26 50% 8%);
  --text: hsl(26 100% 94%);
  --text-red: hsl(8, 93%, 23%);
  --text-muted: hsl(26 34% 68%);
  --highlight: hsl(26 26% 38%);
  --border: hsl(26 35% 27%);
  --border-muted: hsl(27 56% 16%);
  --primary: hsl(32 100% 20%);
  --primary-hover: hsl(32 100% 10%);
  --secondary: hsl(198 100% 20%);
  --secondary-hover: hsl(198 100% 10%);
  --danger: hsl(9 21% 41%);
  --danger-hover: hsl(9 21% 31%);
  --warning: hsl(52 23% 34%);
  --warning-hover: hsl(52 23% 24%);
  --success: hsl(147 19% 36%);
  --success-hover: hsl(147 19% 26%);
  --info: hsl(217 22% 41%);
  --info-hover: hsl(217 22% 31%);
}
